@import url(reset.css);
@import url(variables.css);

html {
  font-size: 62.5%;
  font-family: var(--font-quick);
}

body {
  background-color: var(--contrast-ligth-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

@media (min-width: 800px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
}
